<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Maintenance Page</title>
  <script type="text/javascript" src="./static/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="./static/laputa.js"></script>
  <link rel="stylesheet" href="./static/laputa.css">
  <link rel="shortcut icon" href="./static/img/favicon.ico">
</head>

<body>
  <div class="belt header">Maintenance Page</div>
  <div class="main">
    <button class="button" onclick="balse()">BALSE</button>
  </div>
  <div class="belt footer">Developed by TOSHY</div>
</body>

</html>